header {
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-between; /* текст слева, кнопки справа */
  align-items: center; /* выравнивание по вертикали */
  padding: 5px 20px;
  border-radius: 8px;
}

.name {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.headerFlex {
  display: flex; /* делает кнопки в линию */
  gap: 10px; /* промежуток между кнопками */
}

.btn {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid blueviolet; /* исправлено: border вместо border-color */
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #5a5a5a;
}

body {
    background-color: #212121;
}

main{
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 0px;
    

}

div{
    gap: 10px;
}

.mainH1{
    color: white;
    text-align: left;
    font-size: 21px;
    padding: 5px 20px;
}

.mainFlex{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.card{
    border: 1px solid blueviolet;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    transition: background-color 0.3s;
}
.card:hover{
    background-color: #3a3a3a;
}

h2 {
    color: white;
}

p {
    color: white;
}

ul {
    color: white;
    
    text-align: left;
}